.navbar {
    border: 2px solid rgb(242, 84, 84);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: skyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(84, 242, 242);
}
body {
    background-color: rgb(242, 84, 84);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(51, 185, 230);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: skyblue;
}
figure {
    text-align: right;
    width: 600px;
    height: 600px;
    margin: 0;
}
span {
    color: white;
}
#TheSecondone {
    float: right;
    width: 600px;
    height: 600px;
}